<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>DealLab</title>
    <link rel="stylesheet" href="Css/main.css">
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="title"><p>DLabs</p></div>
            <div v-if="isAuth()">
                <div><p>{{getLogin()}}</p></div>
                <div id="deconnecter"><p @click="logout">Déconnection</p></div>
                <div id="poster"><a href="creation.html">Poster</a></div>
            </div>
            <div v-else>
                <div id="connexion"><a href="login.html">Connexion</a></div>
                <div id="inscription"><a href="registrer.html">Inscription</a></div>
            </div>
        </div>
        <div v-if="selectedDeal == null" v-for="deal in deals" class="flex">
            <div>
                <img :src="deal.imgUrl" alt="image">
            </div>
            <div>
                <span id="spanTemperature">
                    <a v-if="isAuth()" @click="down(deal)">-</a>
                    <h2>{{deal.temperature}}</h2>
                    <a v-if="isAuth()" @click="up(deal)">+</a>
                </span>



                <h3>{{deal.title}}</h3>
                <p>{{deal.creator}} | {{deal.shopName}}</p>
            </div>
            <div>
                <p>{{deal.date}}</p>
                <a :href="deal.shopLink">Voir magasin</a>
                <a href="javascript:;" @click="afficherDetail(deal.id)">Voir détail</a>
            </div>
        </div>
        <div v-if="selectedDeal != null" class="detailDeal">
            <div class="flex">
                <div>
                    <img :src="selectedDeal.imgUrl" alt="image">
                </div>
                <div>
                    <h2>{{selectedDeal.temperature}}</h2>
                    <h3>{{selectedDeal.title}}</h3>
                    <p>{{selectedDeal.creator}} | {{selectedDeal.shopName}}</p>
                </div>
                <div>
                    <p>{{selectedDeal.date}}</p>
                    <a :href="selectedDeal.shopLink">Voir magasin</a>
                </div>
            </div>
            <p>{{selectedDeal.codePromo}}</p>
            <p>{{selectedDeal.priceOld}} > {{selectedDeal.priceNew}} ({{selectedDeal.remise}}% de remise)</p>
            <p>{{selectedDeal.description}}</p>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="./Js/index.js"></script>
</body>
</html>