body{
    margin:0px;
}

#header{
    height:3em;
    background:#2F2F2E;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header div{
    margin-right: 1em;
}

#header div:last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header #title {
    color: white;
    width: 80%;
}

#header a, #header div:last-child p{
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 200px;
    margin-bottom: 1em;
}

.flex img {
    max-height: 200px;
    max-width: 200px;
}

.flex div:first-child{
    height: 200px;
    width: 200px;
}

.flex div:nth-child(2) {
    flex: 1;
}

fieldset dl dt {
    float: left;
}

fieldset dl dd textarea{
    height: 200px;
    width: 500px;
}

fieldset dl dd {
    margin-left: 150px;
    margin-bottom: 1em;
}

fieldset{
    border: none;
}

#spanTemperature {
    display: table;
}
#spanTemperature h2, #spanTemperature a{
    display: table-cell;
    padding-right: 1em;
}